# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# Axelar ITS
packages/foundry/script/axelar/.salt
packages/foundry/script/axelar/.tokenid

# IDE
.vscode
.idea

# cli
dist
